@media screen and (min-width: 1024px){
    #PhD_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
    }

    .backgroundImg{
        z-index: -1;
        position: fixed;
        height: 100%;
    }

    .backgroundImg > img{
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    #PhD_title{
        font-size: 10rem;
        letter-spacing: 2vw;
    }

    #PhD_content{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh 50vh;
        column-gap: 2vw;
        row-gap: 25vh;
    }

    .PhD_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
    }

    #PhD_Screenshot1{
        /* object-fit: cover; */
        width: 100%;
        height: 100%;
    }

    #PhD_Screenshot2{
        height: 100%;
    }
}

@media screen and (max-width: 1023px){
    .backgroundImg{
        display: none;
    }

    #PhD_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
    }

    #PhD_title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 4rem;
        letter-spacing: 3vw;
    }

    .PhD_text{
        display: flex; 
        text-align: center;
        font-size: 1.5rem;
    }

    #PhD_content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #PhD_content > *{
        margin-top: 2vh;
    }
}