@media screen and (min-width: 1024px){
    #PhD_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
    }

    #PhD_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        height: 50vh;
    }

    #PhD_panel{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 20%;
        height: 100%;
    }

    .represent_img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .represent_img img{
        object-fit: cover;
        /* height: 100%; */
        width: 100%;
    }

    .panel_description{
        display: flex;
        justify-content: end;
        font-size: 1rem;
    }

    .panel_by{
        display: flex;
        justify-content: end;
        font-size: 1rem;
    }
    
    #PhD_epic{
        font-size: 3rem;
        width: 50%;
    }

    #PhD_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .PhD_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        width: 60%;
    }

    #PhD_Screenshot1{
        aspect-ratio: 16/9;
        width: 60%;
        border-radius: 2rem;
    }

    #PhD_Screenshot2{
        height: 60vh;
        border-radius: 2rem;
    }

    #PhD_Grabacion1{
        width: 100%;
    }
    
    #PhD_Grabacion2{
        width: 100%;
    }
}

@media screen and (max-width: 1023px){
    #PhD_panel{
        display: none;
    }

    #PhD_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
    }

    #PhD_epic{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5rem;
    }

    .represent_img{
        display:none;
    }

    .PhD_text{
        display: flex; 
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
    }

    
    #PhD_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #PhD_content ul{
        list-style-type: none;
    }
    
    #PhD_content > *{
        margin-top: 2vh;
    }

    #PhD_Screenshot2{
        display: block;
        width: 50vw;
        border-radius: 2rem;
    }
}