@media screen and (min-width: 1024px){
    #PhD_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
    }

    #PhD_title{
        font-size: 5rem;
        letter-spacing: 2vw;
    }

    #PhD_content{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50vh 50vh;
        column-gap: 2vw;
        row-gap: 25vh;
    }

    .PhD_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
    }

    #PhD_content > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}