html, body{
   /*  height: 100%;
    width: 100%; */
    background-color: black;
}


ul{
    list-style: none;
}

#MePage{
    color: beige;
}

button{
    all: unset;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: azure;
}

a:hover{
    color: rgb(160, 160, 160);
}