
@media screen and (min-width: 1024px){
    .container{
        height: 100%;
        width: 25%;
        object-position: center;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
        overflow: hidden;
    }

    .container:hover{
        width: 40%;
    }

    .container img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 9/16;
        height: 100%;
    }
    .container[data-isopen="true"]{
        display: flex;
        height: 100vh;
        width: auto;
        align-items: center;
        justify-content: center;
        
    }
    .container img[data-isopen="true"]{
        display: block;
        /* width: 100%; */
        height: 100%;
        position: absolute;
        top: 0%;
        right: 0%;
        
    }

    .ProjectTitle{
        display: none;
    }
    .DiscoverTxt{
        display: none;
    }
}
@media screen and (max-width: 1023px){
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        text-decoration: none;
    }

    img{
        width: 100%;
        height: auto;
    }
    .ProjectTitle{
        display: flex;
        align-items: center;
        font-family: "Trirong", serif;
        font-size: 15vw;
        width: fit-content;
        height: 8vh;
        letter-spacing: 2rem;
        text-indent: 2rem;
        color: white;
    }
    .DiscoverTxt{
        display: inline;
        font-family: "Trirong", serif;
        font-size: 4vw;
        color: rgb(150, 150, 150)
    }
}