@media screen and (min-width: 1024px){ 
    ::-webkit-scrollbar {
        display: none;
    }
    html,body{
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        scrollbar-width: none;
    }

    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-family: "Trirong", serif;
    }

    nav{
        display: flex;
        flex-direction: row;
        width: 92%;
        height: 7vh;
        margin: 1vh;
        font-size: 1.5rem;
        justify-content: space-between;
    }

    #inicioLogo > img{
        height: 100%;
        border-radius: 1rem;
    }

    #aboutBtn{
        display: flex;
        align-items: center;
        color: white;
    }

    #inicioTxt{
        display: none;
    }

    @keyframes rotate {
        from {
            rotate: 0deg;
        }
        50%{
            scale: 1 1.5;
        }
        to{
            rotate: 360deg;
        }
    }

    #blob_screen{
        height: 100%;
        width: 100%;
        z-index: 5;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #blob{
        background-color: white;
        height: 55vh;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        background: linear-gradient(
            to right,
            aquamarine,
            mediumpurple
        );
        animation: rotate 20s infinite;
        z-index: -2;
    }

    #blur{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -1;
        backdrop-filter: blur(200px);
    }

}
@media screen and (max-width: 1023px){
    #blob{
        display: none;
    }
    
    #blur{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: row;
        width: 92%;
        height: 7vh;
        margin: 1vh;
        font-size: 5vw;
        justify-content: space-between;
    }

    #aboutBtn{
        color: white;
        display: flex;
        align-items: center;
    }
    
    html,body{
        margin:0;
        padding:0;
        height:100%;
        width:100%;
    }

    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-family: "Trirong", serif;
    }
    #blob_screen{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-family: "Trirong", serif;
    }
}