@media screen and (min-width: 1024px){ 
    ::-webkit-scrollbar {
        display: none;
    }
    html,body{
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        scrollbar-width: none;
    }

    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-family: "Trirong", serif;
    }

    nav{
        display: flex;
        flex-direction: row;
        width: 92%;
        height: 7vh;
        margin: 1vh;
        font-size: 1.5rem;
        justify-content: space-between;
    }

    #inicioLogo > img{
        height: 100%;
    }

    #aboutBtn{
        display: flex;
        align-items: center;
        color: white;
    }

    #inicioTxt{
        display: none;
    }
}
@media screen and (max-width: 1023px){

    nav{
        display: flex;
        flex-direction: row;
        width: 92%;
        height: 7vh;
        margin: 1vh;
        font-size: 5vw;
        justify-content: space-between;
    }

    #aboutBtn{
        color: white;
        display: flex;
        align-items: center;
    }
    
    html,body{
        margin:0;
        padding:0;
        height:100%;
        width:100%;
    }

    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-family: "Trirong", serif;
    }
}